.payment-logos img {
    vertical-align: middle;
    width: 70px;
}

.autocomplete__input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.autocomplete__input--show-all-values.autocomplete__input--focused +
.autocomplete__dropdown-arrow-down {
    z-index: 0;
}

.autocomplete__dropdown-arrow-down {
    top: 15px;
    right: 0;
    z-index: 0;
}

.modal-body .autocomplete__dropdown-arrow-down {
    z-index: 0;
}

.field-validation-error {
    color: #CC0000 !important;
    display: inline-block;
    margin-bottom: 1rem;
}

#payment-reference-message:not(:empty) {
    margin-bottom:5px;
}