@model IList<Admin.Models.SystemMessage.DetailsViewModel>

@if (Model.Any())
{
    <div class="m-1">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="alert @switch(Model[i].Severity.ToLower()){
                case "info":
                    @:alert-info
                    break;
                case "warning":
                    @:alert-warning
                    break;
                case "error":
                    @:alert-danger 
                    break;
            }">
                <h1 class="alert-heading fs-6 text">
                    System @Model[i].Severity message
                </h1>
                @if (i > 1)
                {
                    <hr />
                }
                <p class="mb-0">@Model[i].Message</p>
            </div>
        }
    </div>
}