@{
    ViewBag.Title = "Account disabled";
}

<h1>
    Account disabled
</h1>

<div class="ui icon warning message">
    <i class="warning icon"></i>
    <div class="content">
        <div class="header">
            Your account has been disabled
        </div>               
    </div>
</div>
