@{
    ViewBag.Title = "Account disabled";
}

<div class="alert alert-warning">
    <h1 class="fs-6 text">
        Account disabled
    </h1>
    <p class="mb-0">
        Your account has been disabled
    </p>
</div>
