@using Microsoft.Ajax.Utilities
@model Admin.Models.Transaction.DetailsViewModel
@{
    ViewBag.Title = "Home";
}

@section Header {
    <h1 class="ui header">
        Dashboard
        <div class="sub header">
            System overview
        </div>
    </h1>
}

<div class="ui grid stackable">

    <div class="six wide column">

        <h2>Latest Imports</h2>
        <div>
            @Html.Action("_List", "TransactionImport")
        </div>

    </div>
</div>