@using Microsoft.Ajax.Utilities
@model Admin.Models.Transaction.DetailsViewModel

@{
    ViewBag.Title = "Home";
}

@section Header { Dashboard }

@section Subheader { System overview }

<div class="row">
    <div class="col">
        <h3>Latest transaction imports</h3>
        @Html.Action("_Search", "Import", new { pageSize = 5, DataType = ImportDataTypeEnum.Transaction })
    </div>
    <div class="col">
        <h3>Latest account holder imports</h3>
        @Html.Action("_Search", "Import", new { pageSize = 5, DataType = ImportDataTypeEnum.AccountHolder })
    </div>
</div>