@using Microsoft.Ajax.Utilities
@model Admin.Models.Transaction.DetailsViewModel
@{
    ViewBag.Title = "Home";
}

@section Header {
    <h1 class="ui header">
        Dashboard
        <div class="sub header">
            System overview
        </div>
    </h1>
}

<div class="ui grid stackable">

    <div class="six wide column">

        <h2>Latest transaction imports</h2>
        <div>
            @Html.Action("_Search", "Import", new { pageSize = 5, DataType = ImportDataTypeEnum.Transaction })
        </div>

    </div>
    <div class="six wide column">

        <h2>Latest account holder imports</h2>
        <div>
            @Html.Action("_Search", "Import", new { pageSize = 5, DataType = ImportDataTypeEnum.AccountHolder })
        </div>

    </div>
</div>