@using Microsoft.Ajax.Utilities
@model Admin.Models.Transaction.DetailsViewModel
@{
    ViewBag.Title = "Home";
}

@section Header {
    <h1 class="ui header">
        Dashboard
        <div class="sub header">
            System overview
        </div>
    </h1>
}