@{
    ViewBag.Title = "Unauthorised";
}

<h1>
    Unauthorised
</h1>

<div class="ui icon warning message">
    <i class="warning icon"></i>
    <div class="content">
        <div class="header">
            You are not authorised to access this system
        </div>
        If you require access to this system please contact your system administrator.
    </div>
</div>
