@{
    ViewBag.Title = "Forgot password confirmation";
}

@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Header { <h1>@ViewBag.Title</h1> }

<p>
    Please check your email to reset your password.
</p>