@{
    ViewBag.Title = "Registration confirmation";
}
    
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Header { <h1>@ViewBag.Title</h1>}

<p>
    Thank you for registering.
</p>
<p>
    Our team will be in touch shortly using the email address provided during registration to discuss the next step.
</p>
