@{
    ViewBag.Title = "Registration confirmation";
}
    
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Header {
    <h1 class="ui header">
        @ViewBag.Title
    </h1>
}

<div class="ui form">
    <p>
        Thankyou for registering.
    </p>
    <p>
        Our team will be in touch shortly using the email address provided during registration to discuss the next step.
    </p>
</div>
