@{
    ViewBag.Title = "Registration confirmation";
}

@section Header { @ViewBag.Title }

<p>
    Thank you for registering.
</p>
<p>
    Our team will be in touch shortly using the email address provided during registration to discuss the next step.
</p>
