@{
    ViewBag.Title = "Reset password confirmation";
}

@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Header {
    <h1 class="ui header">
        @ViewBag.Title
    </h1>
}

<div class="ui form">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>