<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="Environment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<connectionStrings>
		<add xdt:Locator="Match(name)"
			xdt:Transform="SetAttributes(connectionString)"
			name="IncomeDb"
			connectionString="Your connection string here"/>
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

</configuration>