@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormTitle = "Payment Error";
}

<div class="row">
    <div class="col-auto">
        <div class="alert alert-danger mb-3">
            <div class="fw-bold mb-3">
                An error occured with the payment
            </div>
            <p class="mb-0">@ViewBag.ExMessage</p>
        </div>
        <a href="@(System.Configuration.ConfigurationManager.AppSettings["Organisation.Website"])" class="btn btn-primary">Finish</a>
    </div>
</div>