@*<h3>Activity</h3>

<div class="ui feed">
    <div class="event">
        <div class="content">
            <div class="summary">
                <strong>DanielRo</strong> refunded <strong>£12.20</strong>
                <div class="date">
                    3 days ago
                </div>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="content">
            <div class="summary">
                <strong>System</strong> marked the transacton as completed
                <div class="date">
                    3 days ago
                </div>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="content">
            <div class="summary">
                <strong>System</strong> marked the transacton as pending
                <div class="date">
                    3 days ago
                </div>
            </div>
        </div>
    </div>
</div>*@
