@model Admin.Models.Transaction.EmailReceiptViewModel

<div class="modal fade modal-lg" id="emailReceiptModal" tabindex="-1" aria-labelledby="emailReceiptModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="emailReceiptModalLabel">Email receipt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="email-receipt-message" style="display:none;">
                    <div class="alert alert-danger mb-3">
                        <div class="fw-bold pb-1">
                            Unable send the email
                        </div>
                        <p class="email-receipt-message-text mb-0"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        @Html.LabelFor(m => m.EmailAddress, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Enter email address", @maxlength = 250 })
                        <div class="form__element--error">
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary send-email">Send</button>
            </div>
        </div>
    </div>
</div>

