@model Admin.Models.Transaction.DetailsViewModel

<table class="ui celled table">
    <thead>
        <tr>
            <th>Description</th>    
            <th style="width: 20%; white-space:nowrap;">Amount (£)</th>            
        </tr>
    </thead>
    <tbody>

        @foreach (var transactionLine in Model.Transaction.TransactionLines)
        {
            <tr>
                <td>@(transactionLine.Fund != null ? string.Format("{0} ({1})", transactionLine.Fund.FundName, transactionLine.Fund.FundCode) : "") - @transactionLine.AccountReference</td>              
                <td style="text-align: right" class="@if (transactionLine.Amount < 0)
                                                 {
                                                     @Html.Raw("td--negative")
                                                 }">
                    @Html.ToCurrency(transactionLine.Amount)
                </td>                
            </tr>
        }
    </tbody>


</table>