@model Admin.Models.Shared.BasicListViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <table class="ui celled table striped teal">
        <thead>
            <tr>
                <th>
                    @Model.ColumnTitle
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item)
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="ui info message">
        @Model.NoItemsMessage
    </div>
}