@model Admin.Models.Shared.Message

@if (Model != null)
{
    <div>
        <div class="alert alert-@Model.Type mb-0">
            <div class="header">
                @Model.Title
            </div>
            <p>@Model.Text</p>
        </div>
    </div>
}