@model Admin.Models.Shared.Message

@if (Model != null)
{
    <div class="alert alert-@Model.Type mb-3">
        <div class="fw-bold pb-1">
            @Model.Title
        </div>
        <p class="mb-0">@Model.Text</p>
    </div>
}