@model string

<div class="alert alert-primary mt-3 pb-1">
    <div class="header">
        We couldn't find any matching @Model.
    </div>
    <p>
        Please try again with different search criteria.
    </p>
</div>