@model string

<div class="ui info message">
    <div class="header">
        We couldn't find any matching @Model.
    </div>
    <p>
        Please try again with different search criteria.
    </p>
</div>