@model string

<div class="alert alert-info my-3">
    <div class="fw-bold pb-1">
        We couldn't find any matching @Model
    </div>
    <p class="mb-0">
        Please try again with different search criteria
    </p>
</div>