<div id="note-dialog" class="ui modal">

    <div class="header">
        Suspense Notes
    </div>
        
    <div class="ui error message note-message" style="margin: 1rem; display:none;">
        <div class="header note-message-header">Unable to udpate the note</div>
        <p class="header note-message-text"></p>
    </div>

    <div class="content ui">

        <div class="ui form">
            <div class="fields">
                <div class="ui six wide field">
                    <label>Note</label>
                    <textarea id="Note" maxlength="250" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button cancel-note">
            Cancel
        </div>

        <button type="submit" class="ui positive right labeled icon button save-note">
            Save notes
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>

