@model IList<Admin.Models.FundGroup.DetailsViewModel>
@{
    ViewBag.Title = "Fund groups";
}

@section Header {
    <h1 class="ui header">
        Fund groups
        @Html.ActionLink("Create fund group", "Create", new { }, new { @class = "ui blue button right floated" })
        <div class="sub header">
            Fund group maintenance
        </div>
    </h1>
}

@if (Model != null)
{
    <table class="ui celled table striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.FundGroupName)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", new { id = item.Id }, new { @class = "ui button" })

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "ui button" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="panels">
        There are no fund groups in the system
    </div>
}