@model Admin.Models.SuspenseNote.ListViewModel

@if (Model.Items != null && Model.Items.Count > 0)
{
    <ol class="list-group mb-3">
        @foreach (var item in Model.Items.OrderByDescending(x => x.CreatedAt))
        {
            <li class="list-group-item align-items-start">
                <div class="w-100 mb-2">
                    <span class="me-2 fw-bold">@item.CreatedByUser.DisplayName</span>
                    <small>@item.CreatedAt</small>
                </div>
                <p class="mb-1">@item.Note</p>
            </li>
        }
    </ol>
}
else
{
    Html.RenderPartial("_NothingSpecified", "notes");
}

