@model Admin.Models.ImportTypeImportProcessingRule.ListViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Description
                    </th>
                    <th scope="col">
                        <span class="visually-hidden">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.ImportProcessingRule.Name
                        </td>
                        <td>
                            @item.ImportProcessingRule.Description
                        </td>
                        <td class="text-end">
                            @Html.ActionLink("Edit", "Edit", "ImportTypeImportProcessingRule", new { id = item.Id }, new { @class = "btn btn-secondary" })
                            @Html.ActionLink("Delete", "Delete", "ImportTypeImportProcessingRule", new { id = item.Id, ImportTypeId = item.ImportTypeId }, new { @class = "btn btn-secondary delete-import-type-import-processing-rule" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info my-3">
        <p class="mb-0">
            There are no linked import processing rules
        </p>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".delete-import-type-import-processing-rule").on("click",
            function (e) {
                if (window.confirm("Are you sure you want to delete this link?")) {

                } else {
                    e.preventDefault();
                    e.stopPropogation();
                    return false;
                }
            });

    });
</script>
