@model Admin.Models.ImportTypeImportProcessingRule.ListViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <table class="ui celled table striped teal">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.ImportProcessingRule.Name
                    </td>
                    <td>
                        @item.ImportProcessingRule.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="ui info message">
        There are no linked import processing rules
    </div>
}

