@model Admin.Models.ImportTypeImportProcessingRule.ListViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.ImportProcessingRule.Name
                        </td>
                        <td>
                            @item.ImportProcessingRule.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    Html.RenderPartial("_NothingSpecified", "linked import processing rules");
}

