@model Admin.Models.EReturnNote.ListViewModel

@if (Model.Items != null && Model.Items.Count > 0)
{
    <div class="ui feed">

        @foreach (var item in Model.Items.OrderByDescending(x => x.CreatedAt))
        {
            <div class="event">
                <div class="content">
                    <div class="summary">
                        @item.CreatedByUser.DisplayName added a note on
                        <div class="date">
                            @item.CreatedAt
                        </div>
                    </div>
                    <div class="extra text">
                        @item.Note
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="ui info message">
        <div class="header">
            No notes
        </div>
        <p>
            There are no notes for this eReturn
        </p>
    </div>
}

