@model List<Admin.Models.Import.EventLogViewModel>

@if (Model.Any())
{
    <table class="ui celled table striped teal">
        <thead>
            <tr>
                <th scope="col">
                    Created date
                </th>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    Message
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Message
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="ui info message">
        There are no event log entries to display
    </div>
}

