@model List<Admin.Models.Import.StatusHistoryViewModel>

@if (Model.Any())
{
    <table class="ui celled table striped teal">
        <thead>
            <tr>
                <th scope="col">
                    Created date
                </th>
                <th scope="col">
                    Created by
                </th>
                <th scope="col">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CreatedByUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="ui info message">
        There is no status history to display
    </div>
}

