@{
    ViewBag.Title = "Import File";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        Import File
        <div class="sub header">
            File details
        </div>
    </h1>
}
@using (Html.BeginForm("Index", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="ui form">
        <div class="ui vertical segment">

            <div class="four wide field">
                <input type="file" name="postedFile" />
            </div>

            <input type="submit" value="Upload" class="ui primary button" />
            @Html.ActionLink("Back", "Back", "Import", null, new { @class = "ui button" })

        </div>
    </div>

}
