@{
    ViewBag.Title = "Imports";
}

@section Header {
    <div class="ui header">
        <h1>Imports</h1>
        <div class="sub header">
            Imports
        </div>
    </div>
    
}

<div class="ui grid stackable">

    @if (User.IsInRole(Role.Finance))
    {
        <div class="four wide column">
            <a class="ui card" href="@Url.Action("FileImport", "FileImport")">
                <div class="content">
                    <div class="header">File Imports</div>
                    <div class="description">
                        <p>Manual imports via file uploads</p>
                    </div>
                </div>
            </a>
        </div>
    }

</div>