@model Admin.Models.Template.ListViewModel
@{
    ViewBag.Title = "Templates";
}

@section Header {
    <h1 class="ui header">
        Templates
        @Html.ActionLink("Create template", "Create", new { }, new { @class = "ui blue button right floated" })

        <div class="sub header">
            eReturn template management
        </div>
    </h1>
}

@if (Model != null && Model.Templates.Any())
{
    <table class="ui celled table striped">
        <thead>
        <tr>
            <th>
                @Html.LabelFor(m => Model.Templates.FirstOrDefault().Name)
            </th>
            <th>

            </th>
        </tr>
        </thead>
        @foreach (var item in Model.Templates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "ui button" })
                </td>
            </tr>
        }
    </table>

}
else
{
    <div class="ui info message">
        There are no templates in the system
    </div>
}

