@model Admin.Models.FundMetadata.ListViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <table class="ui celled table striped teal">
        <thead>
            <tr>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Value
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td style="width:20%;">
                        @Html.ActionLink("Edit", "Edit", "FundMetadata", new { id = item.Id }, new { @class = "ui button" })
                        @Html.ActionLink("Delete", "Delete", "FundMetadata", new { id = item.Id, mopCode = item.ParentCode }, new { @class = "ui button delete-action" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="ui info message">
        There is no metadata specified
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".delete-action").on("click",
            function (e) {
                if (window.confirm("Are you sure you want to delete this piece of metadata?")) {

                } else {
                    e.preventDefault();
                    e.stopPropogation();
                    return false;
                }
            });

    });
</script>
