@model Admin.Models.Fund.SearchCriteria

@using (Html.BeginForm("Search", "Fund", FormMethod.Get))
{

    <div class="ui segment">
        <div class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>Fund</label>
                    @Html.TextBoxFor(m => m.FundCode, new { size = 50, placeholder = "Enter fund" })
                </div>
                <div class="field">
                    <label>Fund name</label>
                    @Html.TextBoxFor(m => m.FundName, new { size = 50, placeholder = "Enter fund name" })
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui icon blue button" tabindex="0" type="submit">
                        <i class="search icon"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>

}