@model Admin.Models.Import.ConfirmViewModel

@{
    ViewBag.Title = "File Import Confirmation";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { File Import Confirmation }

@section Subheader { Import this file? }

@using (Html.BeginForm("Confirm", "FileImport", FormMethod.Post))
{
<div>

    @Html.HiddenFor(m => m.ImportId)
    @Html.HiddenFor(m => m.RowCount)

    <div class="row mb-3">
        <div class="col col-sm-6 col-md-5 col-lg-4">
            Import file containing @Model.RowCount rows?
        </div>
    </div>

    <div>
        <input type="submit" value="Yes" class="btn btn-primary" />
        @Html.ActionLink("Back", "Back", "FileImport", null, new { @class = "btn btn-secondary" })
    </div>

</div>
}
