@{
    ViewBag.Title = "File Import";
}

@section Header {
    <div class="ui header">
        <h1>File Import</h1>
        <div class="sub header">
            File Import
        </div>
    </div>
    
}

<div class="ui grid stackable">

    @if (User.IsInRole(Role.SystemAdmin) || User.IsInRole(Role.Finance))
    {
        <div class="four wide column">
            <a class="ui card" href="@Url.Action("Import", "FileImport")">
                <div class="content">
                    <div class="header">File Import</div>
                    <div class="description">
                        <p>Import a file</p>
                    </div>
                </div>
            </a>
        </div>
    }

    @if (User.IsInRole(Role.SystemAdmin) || User.IsInRole(Role.Finance))
    {
        <div class="four wide column">
            <a class="ui card" href="@Url.Action("List", "ImportProcessingRule")">
                <div class="content">
                    <div class="header">Import Processing Rules</div>
                    <div class="description">
                        <p>Manage import processing rules</p>
                    </div>
                </div>
            </a>
        </div>
    }

</div>