@model Admin.Models.ImportProcessingRuleImportType.ListViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <table class="ui celled table striped teal">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.ImportType.Name
                    </td>
                    <td>
                        @item.ImportType.Description
                    </td>
                    <td style="width:20%;">
                        @Html.ActionLink("Edit", "Edit", "ImportProcessingRuleImportType", new { id = item.Id }, new { @class = "ui button" })
                        @Html.ActionLink("Delete", "Delete", "ImportProcessingRuleImportType", new { id = item.Id, importProcessingRuleId = item.ImportProcessingRuleId }, new { @class = "ui button delete-import-type-import-processing-rule" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="ui info message">
        There are no linked import types
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".delete-import-type-import-processing-rule").on("click",
            function (e) {
                if (window.confirm("Are you sure you want to delete this link?")) {

                } else {
                    e.preventDefault();
                    e.stopPropogation();
                    return false;
                }
            });

    });
</script>
