@model Admin.Models.EReturnTemplate.SearchCriteria

@using (Html.BeginForm("Search", "EReturnTemplate", FormMethod.Get))
{

    <div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Name, new { size = 50, placeholder = "Enter name", @class = "form-control" })
            </div>

            <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xxl-10 pt-3 gap-2 d-flex align-self-end justify-content-end">
                <button class="btn btn-primary search" tabindex="0" type="submit">
                    <i class="search icon"></i> Search
                </button>
                <a href="@Url.Action("Search", "EReturnTemplate")" class="btn btn-secondary" id="reset">
                    <i class="undo icon"></i> Reset search
                </a>
            </div>

        </div>

    </div>

}